<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="override_checkout" frontName="new_checkout">
            <module name="Lyh_Test" before="Magento_Checkout"></module>
        </route>
    </router>
</config>