<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Controller\Onepage\Success" type="Lyh\Test\Controller\Index\Onepage\Success" />
    <preference for="\Magento\Customer\Model\Session" type="Lyh\Test\Model\Customer\Session" />
</config>